<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="SharpRepository.EfRepository" version="1.4.1.0" targetFramework="net45" />
  <package id="SharpRepository.Repository" version="1.4.1.0" targetFramework="net45" />
</packages>